<div style="padding-left: 30px">
  <p>Поздравления <%= @game.hero.name %>,</p>

  <p>Вече си в играта! :)</p>

  <p>Това е първото ниво, в което ще получиш и първата си задачка-изпитание.</p>

  <p>Също така, сега ще получиш един уникален ключ с който да се аутентикираш пред API-то, когато изпращаш решенията (става, като добавиш едно скрито поле във уеб формата с име <em>key</em> и стойност - <em>стойността на ключа</em>)</p>

  <p>Стойността на твоя ключ е: <b><%= @game.hero.key %></b></p>

  <p>
  ---
  <em>Забележи, че този ключ ще бъде напълно необходим за да преминаваш изпитанията!
  И също така - имай предвид, че ако стартираш играта наново, ще получиш нов ключ и този вече няма а е валиден!</em>
  ---
  </p>

  <p>И така.. за да продължиш нататък, ще трябва да решиш следната задача (има я и в прикачения файл ако тук не излиза ок):</p>

  <pre><%= @task.gsub('&','&amp;').gsub('<','&lt;').gsub('>','&gt;') %></pre>

  <p>За да преминаваш изпитанията, трябва да изпращаш коректните параметри по правилният начин!</p>

  <p>Решенията можеш да публикуваш в твоя <span style="font-family: monospace;">swift-academy-homeworks</span> проект, в папка <b>L10</b>.</p>

  <p>Успех!<br>
  gamemaster</p>

</div>
