<div style="padding-left: 30px">
Поздравления <%= @game.hero.name %>,

Успешно се справи и с това изпитание.

А ето го третото по ред:

В кода по-доплу има точно една грешка в Javascript-a, и няма други грешки.
Открий грешката и я оправи, след което събкмитни формата!

<pre>
<%= @task.gsub('&','&amp;').gsub('<','&lt;').gsub('>','&gt;') %>
</pre>

Не забравяй да напишеш и твоя кода за играта.

</div>
