<div style="padding-left: 30px">
  <p>Поздравления <%= @game.hero.name %>,</p>

  <p>Успешно се справи и с това изпитание!</p>

  <p>Вече си почти на финала - само още едно изпитание и наградата е твоя! :)</p>

  <h3>Предизвикателство 5</h3>

  <hr>

  <pre>
  Изпрати ми резултата от следния javascript на url http://zenifytheweb.com/api/game/complete.
  Използвай параметър result за решението и key за твоя персонален код.

  Заявката трябва да е в get формат!

  var my_name = "Chuck Norris";
  var my_birthyear = 1940;
  var my_immortality_index = 99.99;
  var my_age = Math.round(my_birthyear*my_immortality_index);
  var my_secret_code = my_name.charAt(0) + my_age + my_name.charAt(6)
  var result = my_secret_code.split('').reverse().join('')
  </pre>

  <p>Не забравяй да добавиш и своя уникален ключ към заявката!</p>

  <p>
  Успех,<br>
  gamemaster
  </p>
</div>
