<div style="padding-left: 30px">
  <p>Поздравления <%= @game.hero.name %>,</p>

  <p>Успешно се справи и с това изпитание.</p>

  <p>Продължаваме нататък .. :)</p>


  <h3>Предизвикателство 4</h3>

  <hr>

  <pre>
  В кода по-долу има точно една грешка в Javascript-a, и няма други грешки.
  Тази грешка е изтормозила много програмисти по света и въпреки, че всеки я знае, продължаваме да я допускаме и да си патим от нея.

  Открий грешката и я оправи, след което събмитни формата:

  (ако кода не се "чете", можеш да го отвориш и от прикачения файл)

  <%= @task.gsub('&','&amp;').gsub('<','&lt;').gsub('>','&gt;') %>

  </pre>

  <p>Не забравяй да използваш и своя уникален ключ при събмит на формата!</p>

  <p>
  Успех,<br>
  gamemaster
  </p>
</div>
