<div style="padding-left: 30px">
Поздравления <%= @game.hero.name %>,

Успешно се справи и с това изпитание.

А ето го третото по ред:

Изпрати ми в get формат параметър result, със стойност - резултата от следния javascript:

var my_name = "Chuck Norris";
var my_birthyear = 1940;
var my_immortality_index = 99.99;
var my_age = Math.round(my_birthyear*my_immortality_index);
var my_secret_code = my_name.charAt(0) + my_age + my_name.charAt(6)
var result = my_secret_code.split('').reverse().join('')


Не забравяй да добавиш и своя уникален ключ към формата!

Успех,
gamemaster
</div>
