<div style="padding-left: 30px">
  <p>Поздравления <%= @game.hero.name %>,</p>

  <p>Успешно се справи и с второто изпитание! :)</p>

  <p>А ето го и слеващото:</p>

  <h3>Предизвикателство 3</h3>

  <hr>

  <pre>
  Искам да ми изпратиш чрез уеб форма на адрес: http://zenifytheweb.com/api/game/continue,

  следните параметри:

  name: Chuck Norris
  email: chuck@kicks.ass
  occupation: ultimate hero
  eyes_color: {еквивалента на синия цвят в 16тичен запис}
  photo: {използвай прикачената към мейла снимка}
  </pre>

  <p>Не забравяй да добавиш и своя уникален ключ към формата!</p>

  <p>
  Успех,<br>
  gamemaster
  </p>
</div>
