<div style="padding-left: 30px">
Поздравления <%= @game.hero.name %>,

Успешно се справи с първото изпитание.

А ето го и слеващото:

Искам да ми изпратиш чрез уеб форма на адрес: http://zenifytheweb.com/api/game,

следните параметри:

name: Chuck Norris
email: chuck@kicks.ass
occupation: ultimate hero
eyes_color: {еквивалента на синия цвят в 16тичен запис}
photo: {използвай прикачената към мейла снимка}

Не забравяй да добавиш и своя уникален ключ към формата!

Успех,
gamemaster
</div>
