<div style="padding-left: 30px">
Поздравления <%= @game.hero.name %>,

Вече си в играта! :)

Това е първото ниво, в което ще получиш и първата си задачка-изпитание.

Също така, сега ще получиш един уникален ключ с който да се аутентикираш пред API-то, когато изпращаш решенията (става, като добавиш едно скрито поле във уеб формата с име 'key' и стойност - стойността на ключа)

Стойността на твоя ключ е: <%= @game.hero.key %>

---
Забележи, че този ключ ще бъде напълно необходим за да преминаваш изпитанията!
И също така - имай предвид, че ако стартираш играта наново, ще получиш нов ключ и този вече няма а е валиден!
---

И така.. за да продължиш нататък, ще трябва да решиш следната задача:

<pre>
<%= @task.gsub('&','&amp;').gsub('<','&lt;').gsub('>','&gt;') %>
</pre>

За да преминаваш изпитанията, трябва да изпращаш коректните параметри по правилният начин!

Решенията можеш да публикуваш в твоя swift-academy-homeworks проект, в папка game.

Успех!
gamemaster

</div>
