<h3>Поздравления <%= @game.hero.name %>!</h3>

<p>Успешно се справи със всички изпитания на играта и си заслужи наградата :D</p>

<p>А ето я и нея (може да я копираш в проекта заедно с решенията на предизвикателствата ;р):<p>

<img src="/<%= @game.award %>">
