<h3>Congratulations <%= @game.hero.name %>!</h3>
<p>You've completed the game successfully.</p>

<p>Here is your award (you can copy it and upload it in your homework folder):<p>

<img src="/<%= @game.award %>">

