<h1>Поздравления <%= @game.hero.name %>!</h1>

<p>Успешно се справи със всички изпитания на играта и си заслужи наградата :D</p>

<p>А ето я и нея:<p>

<img src="<%= @game.award %>">

<p><small>(може да си я копираш в проекта заедно с решенията на предизвикателствата ;р)</small></p>

<h3><small>С обич,</small><br><em>gamemaster</em></h3>
