<h1 class="center">Привет, <span>бъдещи front-end програмисте</span> :)</h1>

<h3>Предлагам ти да поиграем една игра :}</h3>

<p>Аз ще ти отправям предизвикателства, а ти ще се опитваш да се справиш с тях, като следваш инструкциите ми.</p>
<p>Предизвикателствата са общо 5 на брой и за да ги преминеш, ще трябва да си добре подготвен/а по <mark>HTML forms</mark> и <mark>javascript</mark>.</p>

<h4><em>Единственият начин да получиш ново предизвикателство, е да преминеш предишното!</em></h4>

<p>Преминаването на дадено предизвикателство, ще става след като успешно решиш и изпратиш текущата задача към моето GAME API, като за целта ще трябва да използваш <strong><em>web формуляри.</strong></em></p>

<p>В случай че срещнеш затруднения или бъг в играта - не се колебай да ми пишеш ;)</p>

<p>Кликни <a href="game/start">тук</a>, за да видиш условието на <strong>Предизвикателство номер 1<strong></p>

<p>А от мен - успех :)</p>
<h3><em>gamemaster</em></h3>
