<h4>Привет!</h4>

<p>Предлагам ти да поиграем една игра :}</p>

<p>Аз ще ти отправям предизвикателства, а ти ще се опитваш да се справиш с тях, като следваш инструкциите ми.</p>
<p>Предизвикателствата са общо 5 на брой и за да ги преминеш, ще трябва да си добре подготвен/а по HTML forms и javascript.</p>
<p>Единственият начин да получиш ново предизвикателство, е да преминеш предишното.</p>

<p>В случай че срещнеш затруднения или бъг в играта - не се колебай да ми пишеш ;)</p>

<p>Кликни <a href="game/start">тук</a>, за да видиш условието на Предизвикателство номер 1</p>

<p>А от мен - успех :)</p>
