<!DOCTYPE html>
<html>
<head>
  <title>Mad Mind Mining</title>
  <style>
    body {
      margin: 0;
      padding: 0;
      width: 100%;
      padding-top: 35px;
      font-family: serif;
    }
    #container {
      width: 60%;
      margin: 0 auto;
      padding: 30px;
      border: 1px #ccc solid;
      border-radius: 5px;
      box-shadow: 4px 4px 5px 0 #999;
    }
    .mono {
      font-family: monospace;
    }
    table {
      width: 100%;
    }
    table td {
      padding: 5px 10px;
      background-color: lightseagreen;
    }
    table th {
      background-color: darkslategray;
      color: white;
      padding: 10px;
    }
    table tr:nth-child(odd) td {
      background-color: lightsalmon;
    }
  </style>
</head>
<body>
  <div id="container">
    <%= yield %>
  </div>
</body>
</html>
