<!DOCTYPE html>
<html>
<head>
  <title>Mad Mind Mining</title>
  <style>
    body {
      width: 100%;
      padding-top: 35px;
    }
    #container {
      width: 60%;
      margin: 0 auto;
      padding: 30px;
      border: 1px #ccc solid;
      border-radius: 5px;
      box-shadow: 4px 4px 5px 0 #999;
    }
  </style>
</head>
<body>
  <div id="container">
    <%= yield %>
  </div>
</body>
</html>
