<h3>Предизвикателство 1</h3>

<hr>

<p>
За да започнеш играта, трябва да направиш една уеб форма за контакти, която да има полета: <em>name</em>, <em>email</em> и <em>message</em> полета.
</p>
<p>
Като в <em>name</em> трябва да напишеш твоето име, прякор или псевдоним.<br />
В <em>email</em>, попълни имейла ти (на него ще получаваш следващите условия на задачитете) <br />
А в <em>message</em>, сложи просто текста <em>game</em>
</p>
<p>
Самата форма, трябва да се изпраща към: <span class="mono">http://zenifytheweb.com/api/game/start</span>
</p>
<p>
Приятна игра!
</p>
