<h3>Предизвикателство 1</h3>

<hr>

<p>
За да започнеш играта, трябва да направиш една уеб форма за контакти, която да има полета: <em>name</em>, <em>email</em> и <em>message</em>.
</p>
<p>
  Изисквания:
</p>
<ul>
  <li>в <em>name</em> полето попълни твоето име, прякор или псевдоним.</li>
  <li>в <em>email</em>, попълни имейла ти (на него ще получаваш следващите условия на задачитете)</li>
  <li>в <em>message</em>, сложи просто текста <em>game</em></li>
</ul>
<p>
Самата форма, трябва да се изпраща към: <span class="mono">http://zenlabs.pro/api/game/start</span>
</p>
<p>
Приятна игра!
</p>
