<p>
За да започнеш играта, трябва да направиш една уеб форма за контакти, която да има полета: name, email и message полета.
</p>
<p>
Като в name трябва да напишеш твоето име, прякор или псевдоним.<br />
В email, попълни имейла ти (на него ще получаваш следващите условия на задачитете) <br />
А в message, сложи просто текста play
</p>
<p>
Самата форма, трябва да се изпраща към: http://zenifytheweb.com/api/game/start
</p>
<p>
Приятна игра!
</p>
